{{ define "main" }}

{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}

{{   partial "breadcrumbs.html" . }}

 <section>

{{   partial "title-et-al-main.html" . }}

  <div class="content">
{{   .Content }}

{{   $p := .Paginator }}
{{   if $p.Pages }}
   <div class="children">
{{     partial "range-dl-summary" ( $p.Pages.ByTitle ) }}
{{     partial "paginate-buttons" ( $p ) }}
   </div>
{{   else }}
{{     block "no-posts" . }}
   <p>No content so far.</p>
{{     end }}
{{   end }}
  </div>
 </section>
</main>
{{ end }}
